{% extends "index.html" %}
{% block content %}
  {{ super() }}
  {% include "partials/css_class.html" %}
  {% include "partials/comments.html" %}
  {% if page.meta.title %}
    {% set pg_title = page.meta.title %}
  {% else %}
    {% set pg_title = page.title %}
  {% endif %}
  {% set pg_title = page.parent.title if pg_title == 'Index' else pg_title %}
  <script>
    try {
      const index = document.querySelector('h1').innerHTML;
      if (index === "Index") {
        document.querySelector('h1').innerHTML = "{{ pg_title }}";
      }
    } catch (error) {
      // console.log(error);
    }
  </script>
{% endblock %}
